.input-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: transparent;
  padding: 10px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;

  &_answer {
    &_right {
      background-color: green;
    }

    &_wrong {
      background-color: red;
    }
  }

  &_disabled {
    cursor: not-allowed;
  }

  &__input {
    margin: 4px 10px 0 0;
    cursor: pointer;

    &_disabled {
      cursor: not-allowed;
    }
  }

  &__label {
    cursor: pointer;

    &_disabled {
      cursor: not-allowed;
    }
  }
}