.fairy-tale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  max-height: 500px;

  &__title {
    padding: 40px 15px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    color: #06175d;
  }

  &__text {
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #003366;
    padding: 0 18px 0 15px;
    width: inherit;

    &-container {
      width: 320px;
      overflow-y: scroll;
      scrollbar-width: none;
      overflow-x: hidden;
    }
  }

  &__img {
    height: 100%;
    background-size: cover;
    padding: 15px 15px 10px;
  }

  &__panel {
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #06175d;
  }

  &__buttons {
    width: 100%;
    color: #ebf2fa;
    display: flex;
    gap: 7px;
    justify-content: space-around;
    align-items: center;
    background-color: #06175d;
    height: 75px;
    padding-bottom: 10px;
  }

  &__button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #06175d;
    background-color: #ebf2fa;
    padding: 0 18px;
    font-size: 32px;
    border-radius: 10px;
    height: 50px;
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 20px rgba(#000, .6);
    cursor: pointer;

    &_arrow {
      padding: 0 10px;
      font-size: 40px;
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}