.fairy-tale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  height: 657px;

  &__title {
    padding: 40px 15px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    text-align: center;
    color: #333;
  }

  &__text {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #333;
    padding: 0 15px;
    width: inherit;

    &-container {
      padding: 10px 0;
      height: 100%;
      overflow-y: scroll;
      scrollbar-width: none;
      overflow-x: hidden;
    }
  }

  &__img {
    height: 350px;
    background-size: cover;
    padding: 15px 15px 10px;
    margin-bottom: 10px;
  }

  &__panel {
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    width: 100%;
    color: #ebf2fa;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #666;
    height: 75px;
  }

  &__button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background-color: #ebf2fa;
    font-size: 28px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 20px rgba(#000, .6);
    cursor: pointer;
    width: 40px;
    height: 40px;

    &_disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 700px) {
  .fairy-tale {
    height: calc(100vh);

    &__title {
      font-size: 36px;
    }

    &__text {
      font-size: 24px;
    }
  }
}