html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
  background-color: #ebf2fa;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}