.main {
  display: flex;
  flex-direction: column;
  width: inherit;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: #ebf2fa;
  height: 657px;

  &__title {
    margin: 40px 0 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: #333;
  }

  &__button {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: #ebf2fa;
    background-color: #333;
    padding: 10px;
    width: 120px;
    border-radius: 8px;

    &:hover {
      opacity: .7;
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    height: 100dvh;
  }
}