.mini-test {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  height: 100%;
  margin: 10px 20px;

  &__choice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-left: 10px;
    text-align: left;
  }

  &__title {
    padding: 40px 10px 0;
    height: 100px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #333;
    width: 330px;
  }

  &__counter {
    position: absolute;
    display: flex;
    top: 3%;
    right: 10%;
    font-size: 18px;
    gap: 5px;
  }

  &__amount {
    position: absolute;
    top: 3%;
    left: 10%;
    font-size: 18px;
  }

  &__life {
    width: 20px;
    height: 20px;
    background-image: url("https://cdn-icons-png.flaticon.com/128/1828/1828866.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
