.mini-test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  margin: 10px 20px;

  &__choice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-left: 10px;
    text-align: left;
  }

  &__title {
    padding: 40px 10px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #333;
    width: 330px;
  }
}
