.test-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 10px 5px;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid #000;
  cursor: pointer;

  &_answer {
    &_right {
      background-color: green;
    }

    &_wrong {
      background-color: red;
    }
  }

  &_disabled {
    cursor: not-allowed;
  }

  &__variant {
    margin: 4px 10px 0 0;
    cursor: pointer;

    &_disabled {
      cursor: not-allowed;
    }
  }

  &__label {
    cursor: pointer;

    &_disabled {
      cursor: not-allowed;
    }
  }
}