* {
  box-sizing: border-box;
}

html,
body {
  margin: 3vh auto 0;
  padding: 0;
  position: relative;
  max-width: 400px;
  background-color: #020310;
  height: 90vh;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

#root {
  background-color: #ebf2fa;
  margin: 0 auto;
  position: relative;
  border: 5px solid #7d838a;
  border-radius: 32px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  html,
  body {
    margin: 0 auto;
  }

  #root {
    border: none;
    border-radius: 0;
  }
}