* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 400px;
  background-color: #020310;
  height: 100vh;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

#root {
  background-color: #ebf2fa;
  margin: 0 auto;
  position: relative;
}